
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/docs.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <title>Unisociesc - Recuperar Senha</title>
</head>
<body>
    <div class="container">
        <div id="login" class="signin-card">
            <div class="logo-image">
                <img src="~/Imagens/unisociesc.png" alt="Logo" title="Logo">
            </div>
            <p>Informe sua matrícula.</p>
            <form action="" method="" class="" role="form">
                <div id="form-login-username" class="form-group-esqueci">
                    <input id="username" class="form-control" name="username" type="text" size="18" alt="matricula" required />
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label">matrícula</label>
                </div>
                <div>
                    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#confirm" alt="enviar">ENVIAR</button>
                </div>
            </form>
            <div>
                <a href="/Home/Home" type="button" class="btn btn-info" alt="enviar">VOLTAR</a>
            </div>
        </div>

        <!-- modal confirmação -->
        <div class="modal fade" id="confirm" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Confirmar?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="~/Views/Home/Home.cshtml" type="button" data-dismiss="modal" class="btn btn-danger" id="confirm" data-toggle="modal" data-target="">Sim</a>
                        <a href="/Home/Home" type="button" data-dismiss="modal" class="btn btn-info pull-left">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal confirmação -->
        <!-- modal e-mail enviado -->
        <div class="modal fade" id="enviado" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>E-mail enviado.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="login.html" type="button" class="btn btn-info" id="delete">Fechar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal e-mail enviado -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>

