@model WebAluno.Models.usuario
@{
    Layout = null;
}

@Html.ValidationSummary();
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/docs.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <title>Unisociesc - Home</title>
</head>
<body>
    <div class="container">
        <div id="login" class="signin-card">
            <div class="logo-image">
                <img src="~/Imagens/unisociesc.png" alt="Logo" title="Logo">
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <form action="" method="post" class="" role="form">
                <div id="form-login-username" class="form-group-matricula">
                    <input id="username" class="form-control" name="username" type="text" size="18" alt="matricula" required />
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label">matrícula</label>
                    @Html.ValidationMessageFor(model => model.MATRICULA, "", new { @class = "text-danger" })
                </div>
                <div id="form-login-password" class="form-group-senha">
                    <input id="passwd" class="form-control" name="password" type="password" size="18" alt="password" required>
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="password" class="float-label">senha</label>
                    @Html.ValidationMessageFor(model => model.SENHA, "", new { @class = "text-danger" })
                </div>
                <div class="reset-password">
                    <a href="/Home/ForgotPassword">Esqueci minha senha</a>
                </div>
                <div>
                    <button formaction="/Aluno/Aluno/Aluno" class="btn btn-block btn-info" type="submit" name="Submit" alt="sign in">ENTRAR</button>
                </div>
            </form>
            }
        </div>
    </div>

</body>
</html>
