
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style_menu.css" rel="stylesheet">
    <link href="~/Content/Panel.css" rel="stylesheet">
    <link href="~/Content/style_desempenho.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/Menu.js"></script>
    <title>Unisociesc - Aluno</title>
</head>
<body>
    <div class='content'>
        <div id="SlideMenuNav" class="sidenav">
            <div class="author-profile">
                <div class="background"><img src="https://image.ibb.co/fpw0ak/bg.jpg"></div>
                <div class="author-avatar"><img src="https://image.ibb.co/jfea85/avatar.png"></div>
                <span class="author-title">Teste Silva</span>
                <span class="author-RA">RA: 114001352</span>
                <span class="author-Curse">Curso: Bacharelado em S.I</span>
            </div>
            <span class="closebtn"><a href="javascript:void(0)" onclick="closeNav()" title="Fechar Menu">&times;</a></span>
            <ul id="menuOpacity" class="menu" onMouseOver="fixOpacity2()" onmouseout="fixOpacity()">
                <li><a href="/Aluno/Aluno/Aluno"><i class="fa fa-home" aria-hidden="true"></i>Início</a></li>
                <li><a href="/Aluno/Perfil/Perfil"><i class="fa fa-user" aria-hidden="true"></i>Perfil</a></li>
                <li><a href="/Aluno/RealizarProva/RealizarProvaFiltro"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Realizar prova</a></li>
                <li><a href="/Aluno/Duvidas/Duvidas"><i class="fa fa-question" aria-hidden="true"></i>Dúvidas</a></li>
                <li><a href="/Aluno/DesempenhoResultado/DesempenhoResultado"><i class="fa fa-bar-chart" aria-hidden="true"></i>Desempenho e Resultados</a></li>
                <!-- <li><a id="submenu-2" href="javascript:void(0)" onclick="showresponddiv(this.id)"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Submenu2</a>
                  <ul id="opensubmenu-2" class="submenu" style="display: block;">
                    <li><a href="#">Submenu1</a></li>
                    <li><a href="#">Submenu2</a></li>
                    <li><a href="#">Submenu3</a></li>
                  </ul>
                </li> -->
            </ul>
        </div>
        <span class='showmenu' onclick="openNav()" title="Abrir Menu">&#9776;</span>
        <div class="panel" id="scroll">
            <h1>Desempenho e Resultados</h1>

            <div class="centralizar">
                <form class="form-filtros">
                    <div class="form-group">
                        <label>Selecione a disciplina</label>
                        <select class="form-control">
                            <
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="so1">Sistemas Operacionais 1</option>
                            <option value="so2">Sistemas Operacionais 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Selecione o assunto</label>
                        <select class="form-control">
                            <
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="server2003">Windows Server 2003</option>
                            <option value="server2008r2">Windows Server 2008 R2</option>
                            <option value="server2012r2">Windows Server 20012 R2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Selecione o(a) professor(a)</label>
                        <select class="form-control">
                            <
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="manseira">Manseira</option>
                            <option value="francini">Francini</option>
                        </select>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Provas oficiais
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Provas de auto teste
                        </label>
                    </div>

                    <!-- <button type="submit" class="btn btn-info">Pesquisar</button> -->
                    <a type="button" class="btn btn-info" href="graficos2.html">Pesquisar</a>
                </form>
            </div>

        </div> <!-- fim panel & scroll -->


    </div>
</body>
</html>
