#scroll{
    overflow:auto;
}

.panel{
  position: relative;
  background: #fff;
  width: 115vh;
  max-width: 1680px;
  min-width: 570px;
  max-height: 1080px;
  min-height: 515px;
  height:100vh;
  margin: 0px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
