#scroll{
    overflow:auto;
}

.panel{
  position: relative;
  background: #fff;
  width: 115vh;
  max-width: 1680px;
  min-width: 570px;
  max-height: 1080px;
  min-height: 515px;
  height:100vh;
  margin: 0px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.chart{
  display: inline-block;
  width: 110px;
  margin: 40px auto 20px;
  padding: 0 10px;
}
.easyPieChart {
  position: relative;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.percentage,
.label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}
.percentage{
  font-size: 17px;
}
sup{
  top: -0.2em;
  margin-left: 1px;
}

textarea {
    width: 113vh;
    margin-left: 10px;
    height: 25vw;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
/*Proximo, voltar*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#centralizar {
    left: 45%;
    height: 10vh;
    width: 115vh;
    position: fixed;
    top: 90vh;
    padding-bottom: 20px;
}