.btn-info {
  color:#FFF;
  background-color:#428BCA;
  border-color:#2b7abf;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
  color:#fff;
  background-color:#3680c1;
  border-color:#2270b4;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.panel h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.centralizar {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.form-group {
  width: 300px;
}
