
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/style_menu.css" rel="stylesheet">
    <link href="~/Content/Panel.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style_realizar_prova_filtro.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/Menu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Unisociesc - Filtro Realizar Prova</title>
</head>
<body>
    <div class='content'>
        <div id="SlideMenuNav" class="sidenav">
            <div class="author-profile">
                <div class="background"><img src="https://image.ibb.co/fpw0ak/bg.jpg"></div>
                <div class="author-avatar"><img src="https://image.ibb.co/jfea85/avatar.png"></div>
                <span class="author-title">Teste Silva</span>
                <span class="author-RA">RA: 114001352</span>
                <span class="author-Curse">Curso: Bacharelado em S.I</span>
            </div>
            <span class="closebtn"><a href="javascript:void(0)" onclick="closeNav()" title="Fechar Menu">&times;</a></span>
            <ul id="menuOpacity" class="menu" onMouseOver="fixOpacity2()" onmouseout="fixOpacity()">
                <li><a href="/Aluno/Aluno/Aluno"><i class="fa fa-home" aria-hidden="true"></i>Início</a></li>
                <li><a href="/Aluno/Perfil/Perfil"><i class="fa fa-user" aria-hidden="true"></i>Perfil</a></li>
                <li><a href="/Aluno/RealizarProva/RealizarProvaFiltro"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Realizar prova</a></li>
                <li><a href="/Aluno/Duvidas/Duvidas"><i class="fa fa-question" aria-hidden="true"></i>Dúvidas</a></li>
                <li><a href="/Aluno/DesempenhoResultado/DesempenhoResultado"><i class="fa fa-bar-chart" aria-hidden="true"></i>Desempenho e Resultados</a></li>
            </ul>
        </div>
        <span class='showmenu' onclick="openNav()" title="Abrir Menu">&#9776;</span>
        <div class="panel" id="scroll">
            <h1>Filtro da Prova</h1>
            <div class="centralizar">
                <form action="">
                    <div class="form-group">
                        <label>Nome da avaliação</label><br>
                        <input class="form-control" type="text" data-provide="typeahead" placeholder="Avaliação S.O_1">
                    </div>
                    <div class="form-group">
                        <label>Selecione a disciplina</label><br>
                        <select class="form-control">
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="Windows">S.O 1</option>
                            <option value="Linux">S.O 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Selecione o(os) assunto(os)</label><br>
                        <select class="form-control" name="assuntos" multiple>
                            <option value="Windows">Windows</option>
                            <option value="Linux">Linux</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Quantidade de questões por nível:</label><br>
                        <label>Nível 1</label>
                        <input class="form-control" type="number" placeholder="0" value="" id="example-number-input" min="1" max="20" style="width:70px;">
                        <label>Nível 2</label>
                        <input class="form-control" type="number" placeholder="0" value="" id="example-number-input" min="1" max="20" style="width:70px;">
                        <label>Nível 3</label>
                        <input class="form-control" type="number" placeholder="0" value="" id="example-number-input" min="1" max="20" style="width:70px;">
                        <label>Nível 4</label>
                        <input class="form-control" type="number" placeholder="0" value="" id="example-number-input" min="1" max="20" style="width:70px;">
                        <label>Nível 5</label>
                        <input class="form-control" type="number" placeholder="0" value="" id="example-number-input" min="1" max="20" style="width:70px;">
                        <center><a type="button" class="btn btn-info" href="/Aluno/RealizarProva/RealizarProva"style="margin-top: 15px;">Iniciar</a></center>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</body>
</html>

